.Button{
    background-color: #000000;

    border: none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    color: #ffffff;
    height: 55px;
    cursor: pointer;
}

.Button:hover{
    color: #3693f0;
    font-weight: 900;
}