.Button{
    background-color: #000000;
    border-radius: 5px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    border: 1px solid rgb(255, 255, 255);
    color: #ffffff;
    margin: 20px 40px;
    cursor: pointer;
    width: 180px;
}

.Button:hover{
    color: #3693f0;
    font-weight: 700;
}